<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataMaps example</title>
</head>
<body>
    <div id="command" class="center-align">
        <button id="generate">Save SVG</button>
    </div>
    <div id="root" class="center-align"></div>
</body>
</html>